{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-12">
                <div class="welcome-content text-center p-5">
                    <h1 class="logo mb-4">
                        Welcome to Catch Master
                    </h1>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam excepturi laboriosam quia, inventore nesciunt eveniet esse velit dolor ipsam assumenda officia voluptate, eligendi dolore ex at, facilis blanditiis corrupti. Ullam?
                    </p>
                    <div class="mt-4">
                        <a href="" class="shop-button btn btn-lg btn-dark text-uppercase">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}