{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-12">
                <div class="welcome-content text-center">
                    <h1 class="logo mb-4">
                        Welcome to Catch Master
                    </h1>
                    <p>
                        Welcome to Catch Master, your one-stop shop for all things fishing! We are passionate about
                        helping anglers of all experience levels find the perfect equipment to suit their needs. Whether
                        you're just starting out or a seasoned pro, we are here to support your fishing adventures.
                    </p>
                    <div class="mt-4">
                        <a href="{% url 'products' %}" class="shop-button btn btn-lg btn-dark text-uppercase">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}