<script type="text/javascript">

    // Function to enable or disable the increment and decrement buttons
    function toggleButtons(itemId) {
        var quantity = parseInt($('#id_qty_' + itemId).val());
        $('#decrement-qty_' + itemId).prop('disabled', quantity <= 1);
        $('#increment-qty_' + itemId).prop('disabled', quantity >= 99);
    }

    // Function to initialize button states when the page loads
    $('.qty_input').each(function() {
        var itemId = $(this).data('item_id');
        toggleButtons(itemId);
    });

    // Function to handle changes in the input field and update buttons accordingly
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        toggleButtons(itemId);
    });

    // Function to increment the quantity when the "+" button is clicked
    $('.increment-qty').click(function(e) {
        e.preventDefault();
        var itemId = $(this).data('item_id');
        var input = $('#id_qty_' + itemId);
        var currentValue = parseInt(input.val());

        if (currentValue < 99) {
            input.val(currentValue + 1); 
            toggleButtons(itemId);
        }
    });

    // Function to decrement the quantity when the "-" button is clicked
    $('.decrement-qty').click(function(e) {
        e.preventDefault();
        var itemId = $(this).data('item_id');
        var input = $('#id_qty_' + itemId);
        var currentValue = parseInt(input.val());

        if (currentValue > 1) {
            input.val(currentValue - 1);
            toggleButtons(itemId);
        }
    });

</script>