html {
    height: 100%;
}

body {
    background: url('/media/background.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    padding-top: 64px;
}

.welcome-content {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    color: #945d0a;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}