<div class="row d-lg-none align-items-center w-100 d-flex justify-content-between">
    <div class="col-6 my-auto py-0 text-left">
        <a href="{% url 'home' %}" class="nav-link main-logo-link">
            <h2 class="mb-0">Catch Master</h2>
        </a>
    </div>
    <div class="col-6 my-auto text-right d-flex justify-content-end">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>
</div>